:root {
  --purple-bg: #290742;
  --dark-bg: #170027;
  --button-bg: #9e6dc2;
  --white: #fff;
  --light-purple: #fbf6ff;
  --green: #4fff4b;
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--light-purple);
}

header {
  max-width: 1400px;
  width: 100%;
  height: auto;
  background-color: var(--purple-bg);
  margin-inline: auto;
  padding-inline: 7rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-bottom: 6px solid var(--green);
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
}

nav .imgLogo {
  width: 20rem;
}

#optionsMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 67%;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  width: 40%;
}

ul li {
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  cursor: pointer;
  color: var(--white);
}

ul li:hover {
  border-left: 3px solid var(--green);
  font-weight: bold;
  transition: ease-in 0.2s;
}

.searchLabel {
  background-color: var(--dark-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}

.searchLabel #search {
  outline: none;
  border: none;
  font-size: 1.6rem;
  margin-inline: 8px;
  padding-inline: 8px;
  border-radius: 6px;
  background-color: transparent;
  color: var(--white);
  cursor: pointer;
}

.searchLabel #search::placeholder {
  color: var(--white);
}

.searchLabel .lupaIcon {
  background-color: var(--button-bg);
  border-radius: 0px 6px 6px 0px;
  width: 5rem;
  padding: 9px 12px 9px 12px;
  transition: all 0.3s;
}

.searchLabel:hover .lupaIcon {
  filter: brightness(1.2);
  cursor: pointer;
}

.menuBtn {
  background-color: #4fff4b;
  padding: 1rem;
  border-radius: 1rem;
  display: none;
}

.menuBtn .fa-solid,
.fa-solid.fa-xmark {
  font-size: 3rem;
}

.headerArticle {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}

.textSection {
  width: 60rem;
  font-size: 1.6rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 1rem;
  padding-right: 14rem;
}

.divImg,
.imgTextSection {
  width: 100%;
  max-width: 62rem;
}

.textSection h2 {
  font-size: 3.3rem;
  color: var(--button-bg);
  font-family: "Poppins", sans-serif;
}

.textSection p {
  font-size: 1.8rem;
  line-height: 150%;
  color: var(--white);
}

.textSection .link {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  color: var(--button-bg);
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

main {
  max-width: 1400px;
  width: 100%;
  margin-inline: auto;
  margin-top: 12rem;
  padding-inline: 7rem;
  font-size: 1.6rem;
  display: grid;
  grid-template-areas:
    "main main aside"
    "main main aside"
    "footer footer footer";
}

#materiaPrincipal {
  grid-area: main;
}

#materiaPrincipal img {
  width: 100%;
  max-width: 62rem;
}

#materiaPrincipal h3 {
  font-size: 2.4rem;
  color: var(--purple-bg);
}

#materiaPrincipal p {
  line-height: 2.4rem;
}

.divMateriaPrincipal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin-right: 19rem;
}

.materiaLateral {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.materiaLateral .sideMateria {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: 2px solid rgb(216, 214, 214);
  padding-bottom: 2rem;
}

.sideMateria h3 {
  font-size: 2.4rem;
  color: var(--purple-bg);
  font-family: "Poppins", sans-serif;
}

.sideMateria p {
  font-size: 1.6rem;
}

.divMateriaLateral {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.divMateriaLateral h3 {
  font-size: 2.4rem;
  color: var(--purple-bg);
  font-family: "Poppins", sans-serif;
}

.footer {
  margin-top: 10rem;
  grid-area: footer;
  display: flex;
  text-align: left;
  gap: 2rem;
  margin-bottom: 3rem;
}

.footer .divsFooter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.footer .divsFooter img {
  width: 100%;
  max-width: 50rem;
}

.footer .divsFooter h3 {
  font-size: 2.4rem;
  color: var(--purple-bg);
}

.footer .divsFooter p {
  text-align: left;
  line-height: 24px;
}

@media (max-width: 1260px) {
  .headerArticle {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }

  .headerArticle .textSection {
    width: 100%;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    padding-right: 0;
  }
}

@media (max-width: 940px) {
  #optionsMenu {
    width: auto;
    transform: translateY(-100%);
  }

  .menuBtn {
    display: block;
  }

  ul,
  .searchLabel {
    display: none;
  }

  body.menuActive {
    overflow: hidden;
  }

  body.menuActive nav > :not(#optionsMenu, .menuBtn, .imgLogo) {
    opacity: 0;
    visibility: hidden;
    display: none;
  }

  body.menuActive .menuBtn {
    z-index: 5;
  }

  body.menuActive #optionsMenu {
    width: 100vw;
    height: 100vh;
    background-color: #501d75;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    gap: 4rem;
    flex-direction: column;
    transition: transform 0.3s;
    transform: translateY(0);
    z-index: 3;
  }

  body.menuActive ul {
    display: flex;
    flex-direction: column;
    font-size: 2.4rem;
    gap: 4rem;
    margin-top: 6rem;
  }

  body.menuActive ul,
  body.menuActive .searchLabel {
    display: flex;
  }

  .divImg,
  .imgTextSection {
    max-width: 100%;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  #materiaPrincipal {
    display: flex;
    justify-content: center;
  }

  #materiaPrincipal img {
    max-width: 100%;
  }

  .divMateriaPrincipal {
    display: flex;
    justify-content: center;
    margin-right: 0;
  }

  .footer {
    flex-direction: column;
  }

  .footer .divsFooter img {
    max-width: 100%;
  }
}

@media (max-width: 494px) {
  nav .imgLogo {
    width: 16rem;
  }

  .menuBtn {
    padding: 0.9rem;
  }

  .menuBtn .fa-solid {
    font-size: 2.6rem;
  }

  .textSection h2 {
    font-size: 2.1rem;
  }

  header {
    padding-inline: 3rem;
  }

  main {
    padding-inline: 3rem;
  }

  .materiaLateral .sideMateria {
    border-top: 2px solid rgb(216, 214, 214);
    margin-top: 1rem;
    padding-top: 2rem;
  }
}
